{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Nama Pengguna tidak terdaftar. Coba lagi.</p>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_username">Pengguna:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Sandi:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="/home" />
    </form>
    <a href="/daftar">Daftar</a>
{% endblock %}